{% include 'style.html' %}
 {%load static%} 
 {% load crispy_forms_tags %}


<head>
  {% block title%}
<title >Econet Wireless KPI |Comments</title>
{%endblock title%}
<style>


  @media (max-width :  768px) {
    
    .login{
      color: black;
      font-size: 1.1em;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
    .login2{
     
      font-size: 0.9em;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
      
    }
    .form_id #form-id .mobile-text{
      margin-left: 2rem !important;
      margin-right: 2rem !important;
      font-size: 0.9em !important;
      color: black;
        
      }
      .form_id #form-id .btn-mobile{
        text-align: left !important;
      }
   .bg{
    background-color: whitesmoke;
   }
    </style>
</head>
<body class="bg">  
  <div class="text-end">
    <button type="button" class="btn text-secondary fixed-top   btn-sm btn-info"
    style="width: 80px;">
      <a class="text-decoration-none text-secondary" href="{% url 'dashboard'%}">Back
    </a>
    </button>
  </div>
 

  {%if user.roles == 'admin'   or user.is_superuser %}

  <div class="album py-5">
  
    <div class="container">
      <h3 class="text-center mb-3">Supervisor Comments</h3> <hr>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for data in comments %}  
          {% if data.created_by.roles == 'team-leader'%}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 ><i class="fas fa-user text-primary"></i><span class="ms-3" >{{data.created_by.username}}   </span></h5>  <hr>
              <ul class="list-unstyled d-block fw-bold">
                <li class="mb-3"><span class="" > {{data.body}}  </span> <span class="ms-1" >{{data.last_name.title}} </span> 
                </li>
                <br>
                <li class="mb-3"><span class="" > <a class="nav-link .navs-link fs-6 text-primary fw-bolder"
                  href="{{data.FileUrl}}">Download full report</a></span> 
                </li>
               
               
                
                  <li class="mb-3"> 
                    <i class="fas fa-city text-primary">

                    </i><span class="ms-3" >Region [{{data.created_by.city}}]  </span> 
                  </li>
              </ul> 
                <div class="d-flex text-end justify-content-between ">
                <a class="nav-link .navs-link fs-6 text-primary "
                href="{{data.FileUrl}}">   <i class="fas fa-download"></i> Download and view</a>
                <small class="text-body-secondary">{{data.created_by.econetNumber}}</small>
              </div>
            </div>
          </div>
        </div>
        {%endif%}
        {%endfor%}
      </div>
    
    </div>
  </div>
  {%endif%}
  {% if user.roles == 'team-leader'%}
  <div class="album py-5 bg-body-tertiary shadow-lg">
  
    <div class="container ">
      <h3 class="text-center mb-3 ">Technicians Comments</h3>
    
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for data in comments %}   
  
          {% if not data.created_by.is_admin and data.created_by.is_technition and not data.created_by.is_supervisor %}
         
           {% if user.region ==  'region1'   %}
            {% if created_by.data.city == 'section_a' or 'section_b'  %}        
        <div class="col">
          <div class="card shadow-sm">
            
            <div class="card-body">
              <h5 ><i class="fas fa-user text-primary"></i><span class="ms-3" >{{data.created_by.username}}   </span></h5>  <hr>
              <ul class="list-unstyled d-block fw-bold">
    
                <li class="mb-3"> 
                    {{data.body}} 
                </li>
                <li class="mb-3"> 
               
              </li>
              
             
                  <li class="mb-3"> <i class="fas fa-city text-primary"></i><span class="ms-3" > 
                    {% if data.created_by.city ==  'section_a' %} Midland Part A
                  {%endif%} 
                  {% if data.created_by.city ==  'section_b' %} Midland Part B
                  {%endif%} 
                    
                     </span> 
                  </li>
               
              </ul> 
              <div class="d-flex text-end justify-content-between ">
                <a class="nav-link .navs-link fs-6 text-primary "
                href="{{data.FileUrl}}">   <i class="fas fa-download"></i> Download and view</a>
                <small class="text-body-secondary">{{data.created_by.econetNumber}}</small>
              </div>
            </div>
          </div>
        </div>
        {%endif%}
        {%endif%}
        {%endif%}
        {%endfor%}
      </div>
    
    </div>
  </div>
  {%endif%}
  </main>
</body>
  

 


