{% extends 'common.html' %}
 {% block content%} 
 {% load static%}
   {% block title%}
<head>
  <meta name="Key Words" content="Dashboard">
  <meta name="description" content="">
<title>Econet Wireless KPI |The HUb</title>
</head>
{%endblock title%}

<br />
<br />

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <div class=" alert alert-success">
    <p class="">{{message}}</p>
    </div>
    {%endif%} 
    {%endfor%} 
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
        
          <div class="card-body">
            <h3>Welcome
            </br>
                {{user.first_name}} {{user.last_name}}</h3>
          
         <hr>
  
            <ul class="list-unstyled d-block">
              <li class="mb-2"><a class=" text-decoration-none" href="{% url 'change_passorword'%}">Change Password</a> </li>
            </li>
            {%if user.roles == 'admin'   or user.is_superuser %}
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'add_user'%}">Add New Staff</a> </li>
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'upload_dataset'%}">Upload Dataset</a> </li>
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'analysis_variable'%}">KPI Analysis Variable</a> </li>
            {%endif%}
            {% if user.roles == 'admin'   or user.is_superuser or user.is_supervisor  %}
            <li class="mb-2"><a class=" text-decoration-none" href="{% url 'view_user'%}">View Analysis Team</a> </li>
             {%endif%}
           
              <li class="mb-2"><a class=" text-decoration-none" href="{% url 'logout' %}">The Final Analysis</a> </li>
            </li>
            <li class="mb-2"><a class=" text-decoration-none" href="{% url 'logout' %}">Log Out</a> </li>
            </li>
         
            </ul> 
           
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small class="text-body-secondary"><span class="text-primary">KPI</span> ({{user.roles}})</small>
            </div>
          </div>
        </div>
      </div>
         {%if   user.is_supervisor or user.is_superuser %}
      <div class="col">
        <div class="card shadow-sm">
          
          <div class="card-body">
            <h3 >KPI Reports</h3>  <hr>
            <ul class="list-unstyled d-block">

              <li class="mb-2"><a class="text-decoration-none" href="">View Technition Comment</a> </li>
              {%if  user.is_supervisor or user.is_superuser %}
              <li class="mb-2"><a class=" text-decoration-none" href="{% url 'add_comment'%}">Create Final Report</a> </li>
              {%endif%}
            </ul> 
            <div class="d-flex justify-content-between align-items-center">
             
              <div class="btn-group">
              </div>
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
        
  
      {%if  user.is_supervisor or user.is_superuser%}    
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3>
             Data Analysis
            </h3> 
              <hr>
            <ul class="list-unstyled d-block">
              
              {%if user.is_supervisor or user.is_superuser%}  
              <li class="mb-2"><a class=" text-decoration-none " href="{% url 'view_dataset'%}">View DataSet</a> </li>
              </li> 
              {%endif%} 
              {%if user.is_technition or user.is_superuser%}   
              <li class="mb-2"><a class=" text-decoration-none " href="">Custom Analysis</a> </li>
            </li>  
            <li class="mb-2"><a class=" text-decoration-none " href="">Graphs and Charts</a> </li>
          </li>  
          {%endif%}

            <div class="d-flex justify-content-between align-items-center">
             
               <div class="btn-group">
              </div>
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      {%if user.roles == 'admin' and user.is_admin %}    
      <div class="col">
        <div class="card shadow-sm">
          
          <div class="card-body">
            <h3>Decision Making</h3> <hr>
            <ul class="list-unstyled d-block">
            <li class="mb-2"><a class="text-decoration-none" href="">View Supervisor Report</a> </li>
            <li class="mb-2"><a class=" text-decoration-none "  href="{% url 'add_comment'%}">Final Comment/Decisom</a> </li>
          </li>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>


 {% endblock content%}
