{% extends 'common.html' %}
 {% block content%} 
 {% load static%}
   {% block title%}
<head>
  <meta name="Key Words" content="Dashboard">
  <meta name="description" content="">
<title>Econet Wireless KPI |The HUb</title>
</head>
{%endblock title%}

<br />
<br />
<main class="position-relative " >

  <img
 
  src="{% static '../static/Images/Econet-eSim.jpg'%}"
   class="img-fluid d-block fade-in2 w-100"
   style="height: 620px; margin-left: 0; position: absolute; z-index: -1"
   alt="For Projects Guides"
  
 />

 <br> 

<div class="album py-5 ">
  <div class="container">
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <div class=" alert alert-success">
    <p class="">{{message}}</p>
    </div>
    {%endif%} 
    {%endfor%} 
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
        
          <div class="card-body">
            <h3>Welcome
            </br>
                {{user.first_name}} {{user.last_name}}</h3>
          
         <hr>
  
            <ul class="list-unstyled d-block">
              <li class="mb-2"><a class=" text-decoration-none" href="{% url 'change_passorword'%}">Change Password</a> </li>
            </li>
            {%if user.roles == 'admin'   %}
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'add_user'%}">Add New Staff</a> </li>
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'analysis_variable'%}">Add Analysis Variable</a> </li>

            {%endif%}
            {% if user.roles == 'admin'   or user.roles == 'team-leader' %}
            <li class="mb-2"><a class=" text-decoration-none" href="{% url 'view_user'%}">View Analysis Team</a> </li>
             {%endif%}
            <li class="mb-2"><a class=" text-decoration-none" href="{% url 'logout' %}">Log Out</a> </li>
            </li>
         
            </ul> 
           
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
              <small class="text-body-secondary"><span class="text-primary">KPI</span>
                {% if user.roles == 'technition'%}
               (Technician)
               {%else%}
               ({{user.roles}})
                {%endif%}
              
              </small>
            </div>
          </div>
        </div>
      </div>
         {%if  user.roles == 'team-leader' or  user.roles == 'technition'%}
      <div class="col">
        <div class="card shadow-sm">
          
          <div class="card-body">
            <h3 >KPI Reports</h3>  <hr>
            <ul class="list-unstyled d-block">
              {%if user.roles == 'technition'   %}
              <li class="mb-2"><a class=" text-decoration-none "  href="{% url 'add_comment'%}">Add Comment</a> </li>
            
              <li class="mb-2"><a class=" text-decoration-none text-warning fw-bolder " href="{% url 'final'%}">Managers Final Decision</a> </li>
              {%endif%}
              {%if user.roles == 'team-leader'   %}
              <li class="mb-2"><a class=" text-decoration-none" href="{% url 'add_comment'%}">Create Final Report</a> </li>

              <li class="mb-2"><a class=" text-decoration-none text-warning fw-bolder " href="{% url 'final'%}">Managers Final Decision</a> </li>
              {%endif%}
            </ul> 
            <div class="d-flex justify-content-between align-items-center">
             
              <div class="btn-group">
              </div>
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
        
  
      {%if   user.roles == 'team-leader' or user.roles == 'technition'%}    
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3>
             Data Analysis
            </h3> 
              <hr>
            <ul class="list-unstyled d-block">
              
              {%if user.roles == 'team-leader' %}   
              <li class="mb-2"><a class="text-decoration-none" href="{% url 'comments'%}">View Technician Comments</a> </li>
              <li class="mb-2"><a class=" text-decoration-none " href="{% url 'analysis_variable'%}">View KPI Analysis Variable</a> </li>
           
              {%endif%} 
              {%if user.roles == 'technition' %}   
              <li class="mb-2"><a class=" text-decoration-none " href="{% url 'analysis'%}">Custom Analysis</a> </li>
            </li>  
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'wholeanalysis'%}">My Region Graphs and Charts</a> </li>
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'analysis_2'%}"> My Region Analysis</a> </li>
         
           </ul>
          {%endif%}

            <div class="d-flex justify-content-between align-items-center">
             
               <div class="btn-group">
              </div>
              <small class="text-body-secondary"></small>
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      {%if user.roles == 'admin' and user.is_admin %}    
      <div class="col">
        <div class="card shadow-sm">
          
          <div class="card-body">
            <h3>Decision Making</h3> <hr>
            <ul class="list-unstyled d-block">
            <li class="mb-2"><a class="text-decoration-none" href="{% url 'comments'%}">View Supervisor Report</a> </li>
            <li class="mb-2"><a class=" text-decoration-none "  href="{% url 'add_comment'%}">Add Final Decision</a> </li>
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'upload_dataset'%}">Upload Dataset</a> </li>
     
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'upload_sitename'%}">Upload Site Name Data</a> </li>  
            <li class="mb-2"><a class=" text-decoration-none " href="{% url 'wholeanalysis'%}">Whole Network</a> </li>  
          </ul>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<br> <br> <br> <br> <br>
</main>
 {% endblock content%}
